In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Import the Data.

df=pd.read_csv(r"D:\Data Analyst Projects\Credit Card Customer Acquisition, Growth & Retention Analytics (Python, SQL)\Data\credit_card_transactions.csv")

In [3]:
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,merch_zipcode
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0,28705.0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0,NaN
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0,83236.0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0,NaN
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0,22844.0

In [4]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,1296675.0,6.483370e+05,3.743180e+05,0.000000e+00,3.241685e+05,6.483370e+05,9.725055e+05,1.296674e+06
cc_num,1296675.0,4.171920e+17,1.308806e+18,6.041621e+10,1.800429e+14,3.521417e+15,4.642255e+15,4.992346e+18
amt,1296675.0,7.035104e+01,1.603160e+02,1.000000e+00,9.650000e+00,4.752000e+01,8.314000e+01,2.894890e+04
zip,1296675.0,4.880067e+04,2.689322e+04,1.257000e+03,2.623700e+04,4.817400e+04,7.204200e+04,9.978300e+04
lat,1296675.0,3.853762e+01,5.075808e+00,2.002710e+01,3.462050e+01,3.935430e+01,4.194040e+01,6.669330e+01
long,1296675.0,-9.022634e+01,1.375908e+01,-1.656723e+02,-9.679800e+01,-8.747690e+01,-8.015800e+01,-6.795030e+01
city_pop,1296675.0,8.882444e+04,3.019564e+05,2.300000e+01,7.430000e+02,2.456000e+03,2.032800e+04,2.906700e+06
unix_time,1296675.0,1.349244e+09,1.284128e+07,1.325376e+09,1.338751e+09,1.349250e+09,1.359385e+09,1.371817e+09
merch_lat,1296675.0,3.853734e+01,5.109788e+00,1.902779e+01,3.473357e+01,3.936568e+01,4.195716e+01,6.751027e+01
merch_long,1296675.0,-9.022646e+01,1.377109e+01,-1.666712e+02,-9.689728e+01,-8.743839e+01,-8.023680e+01,-6.695090e+01
is_fraud,1296675.0,5.788652e-03,7.586269e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
merch_zipcode,1100702.0,4.682575e+04,2.583400e+04,1.001000e+03,2.511400e+04,4.586000e+04,6.831900e+04,9.940300e+04

In [5]:
df.isnull().sum()

Unnamed: 0                    0
trans_date_trans_time         0
cc_num                        0
merchant                      0
category                      0
amt                           0
first                         0
last                          0
gender                        0
street                        0
city                          0
state                         0
zip                           0
lat                           0
long                          0
city_pop                      0
job                           0
dob                           0
trans_num                     0
unix_time                     0
merch_lat                     0
merch_long                    0
is_fraud                      0
merch_zipcode            195973
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 24 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1296675 non-null  int64
 1   trans_date_trans_time  1296675 non-null  object
 2   cc_num                 1296675 non-null  int64
 3   merchant               1296675 non-null  object
 4   category               1296675 non-null  object
 5   amt                    1296675 non-null  float64
 6   first                  1296675 non-null  object
 7   last                   1296675 non-null  object
 8   gender                 1296675 non-null  object
 9   street                 1296675 non-null  object
 10  city                   1296675 non-null  object
 11  state                  1296675 non-null  object
 12  zip                    1296675 non-null  int64
 13  lat                    1296675 non-null  float64
 14  long                   1296675 non-null  float64
 15  city_pop               1296675 non-null  int64
 16  job                    1296675 non-null  object
 17  dob                    1296675 non-null  object
 18  trans_num              1296675 non-null  object
 19  unix_time              1296675 non-null  int64
 20  merch_lat              1296675 non-null  float64
 21  merch_long             1296675 non-null  float64
 22  is_fraud               1296675 non-null  int64
 23  merch_zipcode          1100702 non-null  float64
dtypes: float64(6), int64(6), object(12)
memory usage: 237.4+ MB

In [7]:
df.columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud', 'merch_zipcode'],
      dtype='object')

In [8]:
df.shape

(1296675, 24)

#### Summary (Exploratory Data Analysis):
Performed exploratory data analysis to understand the structure, scale, and quality of the credit card transaction dataset. Reviewed dataset dimensions, column types, and key variables to identify relevant fields for analysis. Examined basic distributions of transaction amounts and customer demographics, and checked for missing or inconsistent values using sample records.

### Data Cleaning.

In [9]:
# Combine column name (first and last) to name column. 
df['name'] = df['first'].str.strip() + ' ' + df['last'].str.strip()

In [10]:
df[['first', 'last', 'name']].head()

       first     last            name
0   Jennifer    Banks  Jennifer Banks
1  Stephanie     Gill  Stephanie Gill
2     Edward  Sanchez  Edward Sanchez
3     Jeremy    White    Jeremy White
4      Tyler   Garcia    Tyler Garcia

In [11]:
df.columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud', 'merch_zipcode', 'name'],
      dtype='object')

In [12]:
# Drop useless Columns:

df = df.drop(columns=[
    "Unnamed: 0",
    "first", "last", "street",
    "lat", "long", "merch_lat", "merch_long", "merch_zipcode",
    "trans_num", "unix_time",
    "is_fraud"
])

In [13]:
df.columns

Index(['trans_date_trans_time', 'cc_num', 'merchant', 'category', 'amt',
       'gender', 'city', 'state', 'zip', 'city_pop', 'job', 'dob', 'name'],
      dtype='object')

In [14]:
# Change Data Type of trans_date_trans_time.
df['trans_date_trans_time']=pd.to_datetime(df['trans_date_trans_time'], errors='coerce')

In [15]:
# Change data type of dob.
df['dob']=pd.to_datetime(df['dob'], errors='coerce')

In [16]:
# Create separate date and time columns.
df['transaction_date'] = df['trans_date_trans_time'].dt.date
df['transaction_time'] = df['trans_date_trans_time'].dt.time

In [17]:
df=df.drop(columns=['trans_date_trans_time'])

In [18]:
df.columns

Index(['cc_num', 'merchant', 'category', 'amt', 'gender', 'city', 'state',
       'zip', 'city_pop', 'job', 'dob', 'name', 'transaction_date',
       'transaction_time'],
      dtype='object')

In [19]:
# Rename column cc_num name to credit_card_num.
df = df.rename(columns={"cc_num": "credit_card_num"})

In [20]:
# Removing Invalid Transaction Values.

df=df[df['amt']> 0]

In [21]:
# No zero or negative transaction amounts remain after filtering.
(df["amt"] <= 0).sum()

np.int64(0)

In [22]:
# Remove duplicates.

df = df.drop_duplicates()

In [23]:
df.shape

(1296675, 14)

#### Summary ( Data Cleaning):
Cleaned the dataset by removing irrelevant, misleading, and non-analytical columns, including technical identifiers and unnecessary location details. Filtered out invalid transactions with non-positive amounts and removed duplicate records to maintain data integrity. Corrected data types for date fields, split transaction datetime into separate date and time columns, and standardized column names for clarity. The resulting dataset was structured, consistent, and ready for analysis.

### Feature Engineering.

In [24]:
# Creating age column.
df['age'] = (pd.to_datetime(df['transaction_date']) - pd.to_datetime(df['dob'])).dt.days // 365

In [25]:
df['age'].describe()

count    1.296675e+06
mean     4.552822e+01
std      1.740895e+01
min      1.300000e+01
25%      3.200000e+01
50%      4.400000e+01
75%      5.700000e+01
max      9.500000e+01
Name: age, dtype: float64

In [26]:
df.columns

Index(['credit_card_num', 'merchant', 'category', 'amt', 'gender', 'city',
       'state', 'zip', 'city_pop', 'job', 'dob', 'name', 'transaction_date',
       'transaction_time', 'age'],
      dtype='object')

In [27]:
# Creating a New Customer-Level Table.

customer_df = df.groupby('credit_card_num').agg(total_spend=('amt', 'sum'),
    transaction_count=('amt', 'count'),
    avg_spend=('amt', 'mean'),
    first_transaction=('transaction_date', 'min'),
    last_transaction=('transaction_date', 'max'),
    avg_age=('age', 'mean'),
).reset_index()

In [28]:
customer_df.head()

,credit_card_num,total_spend,transaction_count,avg_spend,first_transaction,last_transaction,avg_age
0,60416207185,85043.47,1518,56.023366,2019-01-01,2020-06-21,33.176548
1,60422928733,105640.20,1531,69.000784,2019-01-03,2020-06-21,77.073155
2,60423098130,58673.63,510,115.046333,2019-01-01,2020-06-19,60.662745
3,60427851591,59129.61,528,111.987898,2019-01-01,2020-06-19,42.696970
4,60487002085,25160.11,496,50.726028,2019-01-06,2020-06-20,46.653226

In [29]:
# Customer Recency (Days Since Last Transaction). (How many days ago did the customer make their last transaction?)

latest_date = pd.to_datetime(customer_df['last_transaction']).max()  #(Most recent transaction date of all customers.)

customer_df['days_since_last_transaction'] = (latest_date - pd.to_datetime(customer_df['last_transaction'])).dt.days  # (how many days ago they made their last transaction, compared to the most recent transaction date in the dataset)

In [30]:
customer_df.columns

Index(['credit_card_num', 'total_spend', 'transaction_count', 'avg_spend',
       'first_transaction', 'last_transaction', 'avg_age',
       'days_since_last_transaction'],
      dtype='object')

In [31]:
customer_df[["credit_card_num", "last_transaction", "days_since_last_transaction"]].head(10)

   credit_card_num last_transaction  days_since_last_transaction
0      60416207185       2020-06-21                            0
1      60422928733       2020-06-21                            0
2      60423098130       2020-06-19                            2
3      60427851591       2020-06-19                            2
4      60487002085       2020-06-20                            1
5      60490596305       2020-06-20                            1
6      60495593109       2020-06-21                            0
7     501802953619       2020-06-21                            0
8     501818133297       2020-04-25                           57
9     501828204849       2020-06-20                            1

In [32]:
# Customer Engagement Status (Active vs Inactive).

customer_df['engagement_status'] = customer_df['days_since_last_transaction'].apply(
                                   lambda x: 'Active' if x <= 50 else 'Inactive')     # It means (If a customer made a transaction within the last 50 days --> Active,
                                                                                      # ( If it has been more than 50 days --> Inactive)

In [33]:
customer_df[["credit_card_num", "days_since_last_transaction", "engagement_status"]].head(10)

   credit_card_num  days_since_last_transaction engagement_status
0      60416207185                            0            Active
1      60422928733                            0            Active
2      60423098130                            2            Active
3      60427851591                            2            Active
4      60487002085                            1            Active
5      60490596305                            1            Active
6      60495593109                            0            Active
7     501802953619                            0            Active
8     501818133297                           57          Inactive
9     501828204849                            1            Active

In [34]:
# Number of Active vs Inactive Customers.

customer_df["engagement_status"].value_counts()

engagement_status
Active      917
Inactive     66
Name: count, dtype: int64

In [35]:
df.shape

(1296675, 15)

In [36]:
customer_df.shape

(983, 9)

In [37]:
transactions = df

In [38]:
transactions.shape

(1296675, 15)

In [39]:
del df

In [40]:
customers = customer_df

In [41]:
customers.shape

(983, 9)

In [42]:
del customer_df

#### Summary (Feature Engineering):
Engineered features to enable customer-level growth and engagement analysis. Created a customer age feature using date of birth and transaction date. Transformed transaction-level data into a customer-level table by aggregating total spend, transaction frequency, average spend, and first and last transaction dates. Calculated customer recency as days since last transaction and classified customers into Active and Inactive segments using a 50 day threshold. Structured the analysis by maintaining separate transactions and customers tables for scalable analytics.

### Connect to PostgreSQL.

In [43]:
from sqlalchemy import create_engine

In [44]:
host="localhost",
user="postgres",
password="Pinku@2003#",
database="Credit_card",
port=5432

engine = create_engine('postgresql+psycopg2://postgres:Pinku%402003%23@localhost:5432/Credit_card')

### Load DataFrame into PostgreSQL.

In [45]:
transactions.to_sql(
    'transactions',
    engine,
    if_exists='replace',
    index=False,
    chunksize=10000,
    method='multi'
)

1296675

In [46]:
customers.to_sql(
    'customers',
    engine,
    if_exists='replace',
    index=False,
    chunksize=10000,
    method='multi'
)

983

#### Summary (PostgreSQL Database Connection):
Connected processed datasets to PostgreSQL using Python and SQLAlchemy and validated tables for SQL analysis.